In [ ]:
                                                '''S GOKUL
                                                205029106
                                            I-M.Sc. CHEMISTRY-SF'''

In [5]:
#31
str1=input('First Name: ')
str2=input('Last Name: ')
str3=str1+str2
print(str3)
print(str3[::-1])

First Name: abc
Last Name: def
abcdef
fedcba

In [4]:
#37
x=[1,2,3,4,5,6,7,8,9,10]
y=sum(x)
print(x,y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 55

In [2]:
#38
text='encyclopedia'
#a
print(text.upper())
#b
print(text.isalnum())
#c
print(text.islower())

print(text.isalpha())

ENCYCLOPEDIA
True
True
True

In [25]:
#36
marks=[('m1',90),('m2',89),('m3',78)]
print(marks)

[('m1', 90), ('m2', 89), ('m3', 78)]

In [26]:
#35
fruits=('apple','banana','cherry')
print(fruits[0])

apple

In [6]:
#32
num1=float(input('Enter Here: '))
num2=float(input('Enter Here: '))
print(num1+num2)

Enter Here: 45.9
Enter Here: 34.0
79.9

In [8]:
#33
a='a','e','i','o','u'
b=input('Enter Here: ')
if b in a:
    print('Vowel')
else:
    print('Constant')

Enter Here: z
Constant

In [4]:
#39
print=input('Person1: ')
print=input('Person2: ')
print=input('Person3: ')
print=input('Person4: ')
print=input('Person5: ')

Person1: chris
Person2: tom
Person3: holland
Person4: sebastian
Person5: stan lee

In [3]:
#34
li=[1,2,3,4,5,6]
#a
print('Length: ',len(li))
#b
print('Data Type: ',type(li))

Length:  6
Data Type:  <class 'list'>